---
import Project from "./Card.astro";
import ImgFlipbook from "./img/flipbook.jpeg";
import ImgGift from "./img/gift.jpg";
import ImgHanbo from "./img/hanbo.jpg";
import ImgIpc from "./img/ipcfoodlab.jpg";
import ImgPampers from "./img/pampers-lf.jpg";
import ImgVictionary from "./img/victionary.jpg";
---

<style>
  .shape-divider .shape-fill {
    fill: var(--primary-color);
  }
</style>
<section id="portfolio" class="bg-skin-fill pt-5 pb-10">
  <div class="container lg:w-[80%]">
    <h2 class="text-lg leading-none pb-5" data-aos="fade-in">
      Here’s a small selection of my works.
    </h2>
  </div>

  <div class="text-center text-skin-base m-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      <Project
        image={ImgPampers}
        title="Pampers Songify Campaign"
        tags={["responsive", "angularjs", "tweenmax"]}
      />
      <Project
        image={ImgVictionary}
        title="viction:ary Online Store"
        tags={["woocommerce", "css", "wordpress"]}
      />
      <Project
        image={ImgIpc}
        title="IPC++ Foodlab CMS"
        tags={["responsive", "wordpress"]}
      />
      <Project
        image={ImgFlipbook}
        title="AIA Flipbook"
        tags={["js", "turnjs"]}
      />
      <Project
        image={ImgHanbo}
        title="Hanbo Enterprises Limited Website"
        tags={["wordpress", "bootstrap"]}
      />
      <Project
        image={ImgGift}
        title="Global Institute For Tomorrow Website"
        tags={["html", "css", "slidesjs"]}
      />
    </div>
  </div>
</section>
