---
import Project from "./Card.astro";
import ImgFlipbook from "./img/flipbook.jpeg";
import ImgGift from "./img/gift.jpg";
import ImgHanbo from "./img/hanbo.jpg";
import ImgIpc from "./img/ipcfoodlab.jpg";
import ImgPampers from "./img/pampers-lf.jpg";
import ImgVictionary from "./img/victionary.jpg";
---

<section id="portfolio" class="lemon">
  <div class="container-fluid text-center">
    <h1 data-aos="flip-up">Recent projects</h1>

    <div class="row">
      <Project
        image={ImgPampers}
        title="Pampers Songify Campaign"
        tags={["responsive", "angularjs", "tweenmax"]}
      />
      <Project
        image={ImgVictionary}
        title="viction:ary Online Store"
        tags={["woocommerce", "css", "wordpress"]}
      />
      <Project
        image={ImgIpc}
        title="IPC++ Foodlab CMS"
        tags={["responsive", "wordpress"]}
      />
      <Project
        image={ImgFlipbook}
        title="AIA Flipbook"
        tags={["js", "turnjs"]}
      />
      <Project
        image={ImgHanbo}
        title="Hanbo Enterprises Limited Website"
        tags={["wordpress", "bootstrap"]}
      />
      <Project
        image={ImgGift}
        title="Global Institute For Tomorrow Website"
        tags={["html", "css", "slidesjs"]}
      />
    </div>

    <div class="row">
      <div class="col-md-12">
        <p data-aos="fade-zooom-in">
          <a href="#contact" class="call-for-action">
            <i class="icon-thumbs-up"></i> Hire me
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
